jupyter-events==0.10.0
jupyter-server==2.14.1
jupyter-server-terminals==0.4.4
jupyterlab==4.2.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.27.3
notebook-shim=0.2.3
notebook=7.2.2
nbconvert=7.16.4
nbformat=5.10.4
nbclient=0.8.0
