<div class="flex-col flex gap-20 bg-gradient-to-bl from-[#f53f0f] to-[#102c89] h-3/4 font-black text-white">
    <div>
        <h1 class="text-5xl lg:text-8xl text-left pl-10 pt-10">We detect</h1>
        <h1 class="text-5xl lg:text-8xl text-left pl-10" >transaction fraud</h1>
    </div>
    <div class="px-24 flex sm:flex-row items-center justify-between gap-16">
        <button
            hx-get="{% url 'core/detection_page' %}"
            hx-target="#root"
            class="block lg:py-3 lg:px-4 py-1 px-1 rounded-md transition duration-150 bg-[#F5820F] hover:bg-red-600/30 font-light">
            Get Started
        </button>
        <h1 class="md:text-3xl text-2xl text-right lg:pt-20">Or scroll down to learn more</h1>
    </div>
</div>

<div class="bg-gradient-to-bl from-[#f5820f] to-[#f53f0f] flex flex-col gap-y-10 px-24 place-content-center h-3/4 font-black text-white">
    <div>
        <h2 class="text-5xl lg:text-8xl mt-10 text-right justify-self-end">State-of-the-art AI</h2>
        <h2 class="text-5xl lg:text-8xl text-right justify-self-end">to fight the baddies</h2>
    </div>
    <div class="flex sm:flex-row gap-16 items-center px-24 py-10 justify-between place-content-end">
        <div class="flex items-center lg:pt-20">
            <h2 class="text-xl text-left">See what our customers have to say about us</h2>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <button 
            hx-get="{% url 'core/register' %}"
            hx-target="#root"
            class="block lg:py-3 lg:px-4 py-2 px-2 rounded-md transition duration-150 bg-[#102c89] hover:bg-[#586BAC]/70 justify-self-end font-light">
            Learn More
        </button>
    </div>
</div>

<div class="flex-col text-center h-3/4 bg-gradient-to-bl from-[#040B23] to-[#102C89] font-black text-white">
    <div class="py-5 flex justify-center">
        <div class="rounded-full border-4 border-[#F5820F] bg-[#D9D9D9] w-20 h-20"></div>
    </div>
    <blockquote class="italic text-6xl">"Probably the best <br> AI tool I've ever used to <br> detect frauds"</blockquote>
    <p class="mt-3 text-xsm text-center">- Anthony "Tony" John Soprano</p>
    <div class="flex justify-center pt-4">
        <button
            hx-get="{% url 'core/register' %}"
            hx-target="#root"
            class="block py-3 px-4 rounded-md transition duration-150 bg-[#F5820F] hover:bg-red-600/30 font-light">
            Sign Up Now
        </button>
    </div>
</div>
