<div class="flex items-center justify-between px-4 py-2 bg-[#102c89] text-white">
    <h1 class="text-lg font-bold hover:cursor-pointer hover:text-[#586BAC]">Fraud Detection</h1>
    <div class="space-x-4">
        <!-- About Us Button -->
        <button 
            hx-get="/about-us/" 
            hx-target="#main-content" 
            hx-swap="innerHTML"
            class="px-4 py-2 bg-[#102c89] rounded hover:bg-[#586BAC] transition-colors">
            Sign Up
        </button>

        <!-- Log In Button -->
        <button 
            hx-get="/login/" 
            hx-target="#main-content" 
            hx-swap="innerHTML"
            class="px-4 py-2 bg-[#102c89] rounded hover:bg-[#586BAC] transition-colors">
            Sign In
        </button>
    </div>
</div>
