{% extends "core/base_generic.html" %}

{% block content %}

{% include "home_page/nav_bar.html" %}

<div class="flex flex-col justify-start items-center bg-gradient-to-bl from-[#f53f0f] to-[#102c89] min-h-screen w-screen text-white pt-12 py-6">
    <h1 class="text-5xl font-bold text-center mb-6">Transaction Fraud Detection</h1>
    <p class="text-center text-lg">Enter transaction details below to check for potential fraud.</p>
    
    <!-- Error message display -->
    {% if error_message %}
        <div class="bg-white/70 text-red-500 text-center p-4 rounded-lg mb-4 mt-6 w-4/5 max-w-md shadow-xl animate-pop-up inline-block font-bold">
            <p>{{ error_message|safe }}</p>
        </div>
    {% endif %}

    <!-- Fraud Detection Form -->
    <form id="detection-form" action="{% url 'core/detection_result' %}" method="post" class="flex flex-col items-center space-y-20 w-4/5 max-w-6xl">
        {% csrf_token %}
        
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-36 gap-y-16 w-full">

            <!-- Merchant Category -->
            <div class="flex flex-col">
                <label for="merchant_category" class="text-lg font-medium text-white" title="General category of the merchant (e.g., Retail, Grocery, Travel)">
                    Merchant Category:
                </label>
                <select id="merchant_category" name="merchant_category" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if not input_data.merchant_category %}selected{% endif %}>Select Merchant Category</option>
                    <option value="Entertainment" {% if input_data.merchant_category == "Entertainment" %}selected{% endif %}>Entertainment</option>
                    <option value="Grocery" {% if input_data.merchant_category == "Grocery" %}selected{% endif %}>Grocery</option>
                    <option value="Healthcare" {% if input_data.merchant_category == "Healthcare" %}selected{% endif %}>Healthcare</option>
                    <option value="Restaurant" {% if input_data.merchant_category == "Restaurant" %}selected{% endif %}>Restaurant</option>
                    <option value="Retail" {% if input_data.merchant_category == "Retail" %}selected{% endif %}>Retail</option>
                    <option value="Travel" {% if input_data.merchant_category == "Travel" %}selected{% endif %}>Travel</option>
                    <option value="Gas" {% if input_data.merchant_category == "Gas" %}selected{% endif %}>Gas</option>
                    <option value="Education" {% if input_data.merchant_category == "Education" %}selected{% endif %}>Education</option>
                    <option value="Unknown" {% if input_data.merchant_category == "Unknown" %}selected{% endif %}>Other</option>
                </select>
            </div>

            <!-- Country -->
            <div class="flex flex-col">
                <label for="country" class="text-lg font-medium text-white" title="Country where the transaction occurred">
                    Country:
                </label>
                <select id="country" name="country" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if not input_data.country %}selected{% endif %}>Select Country</option>
                    <option value="Australia" {% if input_data.country == "Australia" %}selected{% endif %}>Australia</option>
                    <option value="Brazil" {% if input_data.country == "Brazil" %}selected{% endif %}>Brazil</option>
                    <option value="Canada" {% if input_data.country == "Canada" %}selected{% endif %}>Canada</option>
                    <option value="France" {% if input_data.country == "France" %}selected{% endif %}>France</option>
                    <option value="Germany" {% if input_data.country == "Germany" %}selected{% endif %}>Germany</option>
                    <option value="Japan" {% if input_data.country == "Japan" %}selected{% endif %}>Japan</option>
                    <option value="Mexico" {% if input_data.country == "Mexico" %}selected{% endif %}>Mexico</option>
                    <option value="Nigeria" {% if input_data.country == "Nigeria" %}selected{% endif %}>Nigeria</option>
                    <option value="Russia" {% if input_data.country == "Russia" %}selected{% endif %}>Russia</option>
                    <option value="Singapore" {% if input_data.country == "Singapore" %}selected{% endif %}>Singapore</option>
                    <option value="UK" {% if input_data.country == "UK" %}selected{% endif %}>UK</option>
                    <option value="Unknown" {% if input_data.country == "Unknown" %}selected{% endif %}>Other</option>
                </select>
            </div>

            <!-- Weekend Transaction -->
            <div class="flex flex-col">
                <label for="weekend_transaction" class="text-lg font-medium text-white" title="Indicates if the transaction took place on a weekend">
                    Is this a Weekend Transaction?
                </label>
                <select 
                    id="weekend_transaction" 
                    name="weekend_transaction" 
                    class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" 
                    required>
                    <option value="" disabled {% if input_data.weekend_transaction is none %}selected{% endif %}>Select Yes or No</option>
                    <option value="1" {% if input_data.weekend_transaction %}selected{% endif %}>Yes</option>
                    <option value="0" {% if not input_data.weekend_transaction and input_data.weekend_transaction is not none %}selected{% endif %}>No</option>
                </select>
            </div>

            <!-- Currency -->
            <div class="flex flex-col">
                <label for="currency" class="text-lg font-medium text-white" title="Currency used for the transaction (e.g., USD, EUR, JPY)">
                    Currency:
                </label>
                <select id="currency" name="currency" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if not input_data.currency %}selected{% endif %}>Select Currency</option>
                    <option value="AUD" {% if input_data.currency == "AUD" %}selected{% endif %}>AUD</option>
                    <option value="BRL" {% if input_data.currency == "BRL" %}selected{% endif %}>BRL</option>
                    <option value="CAD" {% if input_data.currency == "CAD" %}selected{% endif %}>CAD</option>
                    <option value="EUR" {% if input_data.currency == "EUR" %}selected{% endif %}>EUR</option>
                    <option value="GBP" {% if input_data.currency == "GBP" %}selected{% endif %}>GBP</option>
                    <option value="JPY" {% if input_data.currency == "JPY" %}selected{% endif %}>JPY</option>
                    <option value="MXN" {% if input_data.currency == "MXN" %}selected{% endif %}>MXN</option>
                    <option value="NGN" {% if input_data.currency == "NGN" %}selected{% endif %}>NGN</option>
                    <option value="RUB" {% if input_data.currency == "RUB" %}selected{% endif %}>RUB</option>
                    <option value="SGD" {% if input_data.currency == "SGD" %}selected{% endif %}>SGD</option>
                    <option value="Unknown" {% if input_data.currency == "Unknown" %}selected{% endif %}>Other</option>
                </select>
            </div>

            <!-- Amount -->
            <div class="flex flex-col">
                <div class="flex items-center">
                    <label for="amount" class="text-lg font-medium text-white mr-2" title="Transaction amount (currency based on the country)">
                        Amount:
                    </label>
                    <!-- Hint text for equivalent amount in Euro -->
                    <span id="currency-hint" class="text-xs text-white mt-1 hidden">
                        Enter the equivalent amount in euro
                    </span>
                </div>
                <input
                    id="amount"
                    name="amount"
                    type="number"
                    step="0.01"
                    placeholder="Enter Amount"
                    value="{{ input_data.amount }}"
                    class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black"
                    required />
            </div>

            <!-- Transaction Hour -->
            <div class="flex flex-col">
                <label for="transaction_hour" class="text-lg font-medium text-white" title="Hour of the day when the transaction was made">
                    Transaction Date and Time:
                </label>
                <input 
                    type="datetime-local" 
                    id="transaction_hour" 
                    name="transaction_hour" 
                    class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" 
                    placeholder="Select date and time" 
                    value="{{ input_data.transaction_hour }}"
                    required>
            </div>

            <!-- Channel -->
            <div class="flex flex-col">
                <label for="channel" class="text-lg font-medium text-white" title="Type of channel used for the transaction (web, mobile, POS).">
                    Channel:
                </label>
                <select id="channel" name="channel" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if not input_data.channel %}selected{% endif %}>Select Channel</option>
                    <option value="mobile" {% if input_data.channel == "mobile" %}selected{% endif %}>Mobile</option>
                    <option value="web" {% if input_data.channel == "web" %}selected{% endif %}>Web</option>
                    <option value="pos" {% if input_data.channel == "pos" %}selected{% endif %}>POS</option>
                    <option value="unknown" {% if input_data.channel == "unknown" %}selected{% endif %}>Other</option>
                </select>
            </div>

            <!-- Card Type -->
            <div class="flex flex-col">
                <label for="card_type" class="text-lg font-medium text-white" title="Type of card used (e.g., Basic Credit, Gold Credit)">
                    Card Type:
                </label>
                <select id="card_type" name="card_type" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if not input_data.card_type %}selected{% endif %}>Select Card Type</option>
                    <option value="Basic Credit" {% if input_data.card_type == "Basic Credit" %}selected{% endif %}>Basic Credit</option>
                    <option value="Basic Debit" {% if input_data.card_type == "Basic Debit" %}selected{% endif %}>Basic Debit</option>
                    <option value="Gold Credit" {% if input_data.card_type == "Gold Credit" %}selected{% endif %}>Gold Credit</option>
                    <option value="Platinum Credit" {% if input_data.card_type == "Platinum Credit" %}selected{% endif %}>Platinum Credit</option>
                    <option value="Premium Debit" {% if input_data.card_type == "Premium Debit" %}selected{% endif %}>Premium Debit</option>
                    <option value="Unknown" {% if input_data.card_type == "Unknown" %}selected{% endif %}>Other</option>
                </select>
            </div>

            <!-- Card Present -->
            <div class="flex flex-col">
                <label for="card_present" class="text-lg font-medium text-white" title="Indicates if the card was physically present during the transaction (used in POS transactions).">
                    Card Present:
                </label>
                <select id="card_present" name="card_present" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if input_data.card_present is none %}selected{% endif %}>Select Yes or No</option>
                    <option value="1" {% if input_data.card_present %}selected{% endif %}>Yes</option>
                    <option value="0" {% if input_data.card_present %}selected{% endif %}>No</option>
                </select>
            </div>

            <!-- Device -->
            <div class="flex flex-col">
                <label for="device" class="text-lg font-medium text-white" title="Device used for the transaction (e.g., Chrome, iOS App, NFC Payment).">
                    Device:
                </label>
                <select id="device" name="device" class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" required>
                    <option value="" disabled {% if not input_data.device %}selected{% endif %}>Select Device</option>
                    <option value="Android App" {% if input_data.device == "Android App" %}selected{% endif %}>Android App</option>
                    <option value="Chip Reader" {% if input_data.device == "Chip Reader" %}selected{% endif %}>Chip Reader</option>
                    <option value="Chrome" {% if input_data.device == "Chrome" %}selected{% endif %}>Chrome</option>
                    <option value="Edge" {% if input_data.device == "Edge" %}selected{% endif %}>Edge</option>
                    <option value="Firefox" {% if input_data.device == "Firefox" %}selected{% endif %}>Firefox</option>
                    <option value="iOS App" {% if input_data.device == "iOS App" %}selected{% endif %}>iOS App</option>
                    <option value="Magnetic Stripe" {% if input_data.device == "Magnetic Stripe" %}selected{% endif %}>Magnetic Stripe</option>
                    <option value="NFC Payment" {% if input_data.device == "NFC Payment" %}selected{% endif %}>NFC Payment</option>
                    <option value="Safari" {% if input_data.device == "Safari" %}selected{% endif %}>Safari</option>
                    <option value="Unknown" {% if input_data.device == "Unknown" %}selected{% endif %}>Other</option>
                </select>
            </div>

            <!-- Detection Button -->
            <div class="flex flex-col">
                <!-- Submit Button -->
                <button id="detect-button" type="submit" class="px-16 py-3 bg-[#F5820F] rounded hover:bg-red-600 transition-colors mt-6">
                    Detect
                </button>
            </div>

            <!-- Distance From Home -->
            <div class="flex flex-col">
                <label for="distance_from_home" class="text-lg font-medium text-white" title="Indicates if the transaction occurred outside the customer's home country">
                    Distance From Home:
                </label>
                <select 
                    id="distance_from_home" 
                    name="distance_from_home" 
                    class="px-4 py-2 rounded-lg border-2 border-blue-800 text-lg text-black" 
                    required>
                    <option value="" disabled {% if input_data.distance_from_home is none %}selected{% endif %}>Select Yes or No</option>
                    <option value="1" {% if input_data.distance_from_home %}selected{% endif %}>Yes</option>
                    <option value="0" {% if input_data.distance_from_home %}selected{% endif %}>No</option>
                </select>
            </div>

        </div>

        <p id="prompt-message" class="text-lg font-medium text-green-400"></p>
        

    </form>

</div>

<script>
    // Get references to the currency select and hint text elements
    const form = document.getElementById('detection-form');
    const currencySelect = document.getElementById('currency');
    const hintText = document.getElementById('currency-hint');
    const detectButton = document.getElementById('detect-button');
    const promptMessage = document.getElementById('prompt-message');

    // Add an event listener to the currency field to check for "Other" or "Unknown"
    currencySelect.addEventListener('change', function() {
        if (currencySelect.value === 'Unknown') {
            // Show the hint text when "Other" or "Unknown" is selected
            hintText.classList.remove('hidden');
        } else {
            // Hide the hint text for other currency options
            hintText.classList.add('hidden');
        }
    });

    detectButton.addEventListener('click', () => {
        
        // Update prompt message
        if (form.checkValidity()) {
            promptMessage.textContent = "Validating data...";

            setTimeout(() => {
                promptMessage.textContent = "Detecting...";
                
                setTimeout(() => {
                    promptMessage.textContent = "Detection completed";
                    
                    form.submit();
                }, 3000);
            }, 6000);
        }else {
            promptMessage.textContent = "";
        }
    });
</script>

{% endblock %}
