<!DOCTYPE html>
<html lang="en">

<!-- Made by: Janos -->
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Fraud Detection Dashboard</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block custom_script %}
    {% endblock %}
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    sans: ['Inter', 'sans-serif'],
                    mono: ['JetBrains Mono', 'monospace'],
                },
            }
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuToggle = document.getElementById('menu-toggle');
            const sidebar = document.getElementById('sidebar');

            menuToggle.addEventListener('click', function () {
                sidebar.classList.toggle('hidden');
            });
        });
    </script>
</head>
<body class="bg-slate-100 font-sans leading-normal tracking-normal" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="flex items-center justify-between bg-blue-900 px-6 py-4 md:hidden">
    <button id="menu-toggle" class="text-white focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
    <span class="text-xl font-bold text-white">fraud_detection</span>
</div>

<div class="relative flex h-screen flex-col md:flex-row">
    <!-- Sidebar -->
    <div id="sidebar"
         class="absolute top-0 flex hidden h-full w-full flex-col justify-between bg-blue-900 p-6 md:relative md:flex md:w-1/4 md:p-8">
        <div class="mb-12 hidden text-white md:block md:text-left">
            <span class="mb-6 block text-2xl font-bold tracking-tight">fraud_detection</span>
        </div>
        {% block sidebar %}
            <ul class="-mx-4 flex-grow font-bold text-white space-y-4">
                <li><a href="{% url 'dashboard/index' %}"
                       class="block rounded-md px-4 py-3 transition duration-150 hover:bg-blue-200/40">Dashboard Overview</a></li>
                <li><a href="{% url 'dashboard/manage_models' %}"
                       class="block rounded-md px-4 py-3 transition duration-150 hover:bg-blue-200/40">Manage Models</a>
                </li>
                <li><a href="{% url 'import_csv_to_db' %}"
                       class="block rounded-md px-4 py-3 transition duration-150 hover:bg-blue-200/40">Upload
                    Data</a></li>
                <li><a href="{% url 'core/index' %}"
                       class="block rounded-md px-4 py-3 transition duration-150 hover:bg-blue-200/40">Back to Home
                    Page</a></li>
            </ul>
        {% endblock %}
        <div class="mt-auto pt-4">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"
                        class="mt-2 font-bold text-amber-500 transition duration-150 hover:text-red-500">
                    Logout
                </button>
            </form>
        </div>
    </div>

    <div class="flex-grow overflow-auto">
        <!-- Top bar -->
        <div class="hidden items-center justify-between px-8 py-7 md:flex">
            {% block breadcrumbs %}
            {% endblock %}
            <div class="flex items-center gap-5">
                <span class="block font-bold">{{ user.first_name }} {{ user.last_name }}</span>
                <img alt="User profile picture" src="https://thispersondoesnotexist.com/"
                     class="h-12 w-12 rounded-full border-4 border-amber-500 bg-blue-900 object cover">
            </div>
        </div>

        <!-- Main Content -->
        {% block content %}
            <!-- Content will be injected here -->
        {% endblock %}
    </div>

</div>

</body>
</html>
