<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Fraud Detection Dashboard</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block custom_script %}
    {% endblock %}
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    sans: ['Inter', 'sans-serif'],
                    mono: ['JetBrains Mono', 'monospace'],
                },
            }
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuToggle = document.getElementById('menu-toggle');
            const sidebar = document.getElementById('sidebar');

            menuToggle.addEventListener('click', function () {
                sidebar.classList.toggle('hidden');
            });
        });
    </script>
</head>
<body class="bg-slate-100 font-sans leading-normal tracking-normal">
<div class="md:hidden bg-blue-900 px-6 py-4 flex items-center justify-between">
    <button id="menu-toggle" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
    <span class="text-white font-bold text-xl">fraud_detection</span>
</div>

<div class="flex flex-col md:flex-row h-screen">
    <!-- Sidebar -->
    <div id="sidebar"
         class="bg-blue-900 w-full md:w-1/4 p-6 md:p-8 flex flex-col justify-between h-full hidden md:flex">
        <div class="text-white mb-12 hidden md:block md:text-left">
            <span class="block text-2xl font-bold tracking-tight mb-6">fraud_detection</span>
        </div>
        {% block sidebar %}
            <ul class="flex-grow space-y-4 -mx-4 text-white font-bold">
                <li><a href="{% url 'dashboard/index' %}"
                       class="block py-3 px-4 hover:bg-blue-200/40 rounded-md transition duration-150">Home</a></li>
                <li><a href="{% url 'dashboard/manage_models' %}"
                       class="block py-3 px-4 hover:bg-blue-200/40 rounded-md transition duration-150">Manage Models</a>
                </li>
                <li><a href="{% url 'import_csv_to_db' %}"
                       class="block py-3 px-4 hover:bg-blue-200/40 rounded-md transition duration-150">Upload
                    Data</a></li>
                <li><a href="" class="block py-3 px-4 hover:bg-blue-200/40 rounded-md transition duration-150">Usage
                    Statistics</a></li>
                <li><a href=""
                       class="block py-3 px-4 hover:bg-blue-200/40 rounded-md transition duration-150">Settings</a></li>
            </ul>
        {% endblock %}
        {% if user.is_authenticated %}
            <div class="mt-auto pt-4">
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"
                            class="text-amber-500 font-bold hover:text-red-500 transition duration-150 mt-2">
                        Logout
                    </button>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="flex-grow overflow-auto">
        <!-- Top bar -->
        <div class="px-8 py-7 items-center justify-between hidden md:flex">
            {% block breadcrumbs %}
            {% endblock %}
            <div class="flex items-center gap-5">
                <span class="block font-bold">{{ user.first_name }} {{ user.last_name }}</span>
                <img alt="User profile picture" src="https://thispersondoesnotexist.com/"
                     class="bg-blue-900 h-12 w-12 rounded-full border-4 border-amber-500 object cover">
            </div>
        </div>

        <!-- Main Content -->
        {% block content %}
            <!-- Content will be injected here -->
        {% endblock %}
    </div>

</div>

</body>
</html>
