{% extends "dashboard/base_dashboard.html" %}

{% block breadcrumbs %}
<span class="block text-sm text-neutral-500">Dashboard / Home</span>
{% endblock %}

{% block content %}
<div class="max-w-3xl mx-8">
    <span class="mb-10 block text-4xl font-bold">Welcome back, {{ user.first_name }}!</span>
    <div class="flex flex-col md:flex-row gap-8 pb-8">
        <div class="md:basis-1/3 bg-white shadow-xl rounded-xl border p-8">
            <h2 class="text-xl font-bold pb-10">Model version</h2>
            <span class="block font-light font-mono text-amber-500 text-5xl text-right">{{ version }}</span>
        </div>
        <div class="md:basis-1/3 bg-white shadow-xl rounded-xl border p-8">
            <h2 class="text-xl font-bold pb-10">Model accuracy</h2>
            <span class="block font-light font-mono text-amber-500 text-5xl text-right">{{ accuracy }}</span>
        </div>
        <div class="md:basis-1/3 bg-white shadow-xl rounded-xl border p-8">
            <h2 class="text-xl font-bold pb-10">Registered users</h2>
            <span class="block font-light font-mono text-amber-500 text-5xl text-right">{{ users_num }}</span>
        </div>
    </div>
    <div>
        <div class="bg-white shadow-xl rounded-xl border p-8 mb-12">
            <h2 class="text-xl font-bold pb-10">Prediction accuracy over time</h2>
            <img class="rounded-lg " src="https://i.cbc.ca/1.5359228.1577206958!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_940/smudge-the-viral-cat.jpg" alt="Graph showing model prediction accuracy over time">
        </div>
    </div>
</div>
{% endblock %}
