<!-- Made by: Janos -->

{% extends "dashboard/base_dashboard.html" %}

{% block breadcrumbs %}
    <span class="block text-sm text-neutral-500">Dashboard / Manage Models</span>
{% endblock %}

{% block content %}
    <div class="mx-8 max-w-4xl">
        <div class="mt-8 mb-8 flex items-center justify-between md:mt-0">
            <span class="block text-2xl font-bold md:text-4xl">Manage models</span>
            <button hx-get="{% url 'train_model_form' %}" hx-target="#dialog"
                    class="rounded-xl border-2 border border-amber-800/50 px-4 py-2 text-sm font-bold text-neutral-50 shadow-lg transition text-nowrap bg-orange-500/85 transition-duration-150 hover:bg-orange-400/85">
                Train new model
            </button>
        </div>
        <p class="mb-10">As the site administrator, you can select which pre-trained model should be used in production,
            as well as
            train new models
            on any of the available datasets. If you’d like to upload a new dataset, select the ‘Upload Data’ option
            from the sidebar.</p>
        <div class="mb-12 min-w-min rounded-xl border bg-white p-8 shadow-xl text-nowrap">
            {% include 'dashboard/model_table.html' %}
        </div>
    </div>

    {% block dialog %}
        <div id="dialog"></div>
    {% endblock %}
{% endblock %}