{% extends "core/base_generic.html" %}

{% block content %}

    <div class="flex flex-col justify-center items-center bg-gradient-to-bl from-[#f53f0f] to-[#102c89] h-screen w-screen">
        <div class="h-3/5 w-1/3 rounded-xl border bg-white p-12 shadow-xl">
            <h1 class="mb-4 text-center text-4xl font-bold">Welcome back</h1>
            <form action="{% url 'core/post_login' %}" method="post"
                  class="relative flex flex-col items-center space-y-6">
                {% csrf_token %}
                {% for field in form %}
                    <div class="relative flex w-full flex-col items-start">
                        <label for="{{ field.id_for_label }}"
                               class="mb-2 block text-sm font-normal uppercase tracking-wider text-neutral-500">
                            {{ field.label }}:
                        </label>
                        <input
                                id="{{ field.id_for_label }}"
                                name="{{ field.name }}"
                                type="{{ field.field.widget.input_type }}"
                                value="{{ field.value|default:'' }}"
                                class="mb-4 w-full rounded-xl border border-stone-400 bg-stone-200 p-3 font-mono text-neutral-500"
                        />
                        <!-- Display Validation Errors -->
                        {% if field.errors %}
                            <p class="absolute top-20 text-sm text-red-600">{{ field.errors|join:", " }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if error_message %}
                    <p class="absolute top-52 mt-2 text-lg text-red-600 text-wrap"><strong>{{ error_message }}</strong>
                    </p>{% endif %}
                <div class="flex w-full justify-center gap-6 pt-6">
                    <a href="/"
                       class="rounded-xl border-2 border border-stone-400/50 bg-stone-300 px-4 py-2 text-sm font-bold text-neutral-500 shadow-lg transition duration-150 text-nowrap hover:bg-stone-400/85">
                        Cancel
                    </a>
                    <button type="submit"
                            class="rounded-xl border-2 border border-amber-800/50 px-4 py-2 text-sm font-bold text-neutral-50 shadow-lg transition text-nowrap bg-orange-500/85 transition-duration-150 hover:bg-orange-400/85">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
